body {
    margin:20px;
    font-family: Verdana,Genava,Tahomo, sans-serif;
}
.profile-image {
    width: 150px;
 
}
.card {
    padding:20px;
    display: flex;
    justify-content: space-around;
    width :400px;
    margin: 0 auto;
    text-align: center;

    background-color: #ddebf8;
    color:#2b2839;
    border-bottom: 6px solid #d8cefe;
}
